body {
  margin: 0;
  padding: 0;
  background: #f1f1f1;
  background-size: cover;
  font-family: 'PT Sans', sans-serif;
}

/* Header bar */

#header {
  width: 100%;
  height: 55px;
  background: #EAB349;
}
#logo {
  font-size: 34px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 55px;
  float: left;
  margin-left: 10%;
}
#search {
  position: relative;
  margin: auto;
  width: 400px;
  height: 35px;
  top: 10px;
}
.searchbox {
  text-indent: 10px;
  background: #f1f1f1;
  color: #9e9e9e;
  border: 0;
  outline: 0;
  font-size: 16px;
  width: 100%;
  height: 35px;
}
.searchbox::-webkit-input-placeholder { color: #9e9e9e; }
.searchbox:-moz-placeholder { color: #9e9e9e; }
.searchbox::-moz-placeholder { color: #9e9e9e; }
.searchbox:-ms-input-placeholder { color: #9e9e9e; }
#user {
  float: right;
  line-height: 55px;
  position: relative;
  right: 10%;
}
.dropbtn {
  padding: 10px;
}
.dropbtn:hover {
  background: #da9e2c;
  padding: 10px;
}
a.dropbtn {
  color: #fff;
  text-decoration: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    line-height: 20px;
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
    z-index: 100;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown-content .logout {border-top: 1px solid #eeeeee;}
.show {display:block;}
.userpic {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
  border-radius: 2px;
}

/* Timeline (index) Page */
#wrapper {
  width: 90%;
  margin-left: 5%;
  float: left;
  margin-top: 50px;
}
#left {
  float: left;
  width: 20%;
}
#center {
  width: 50%;
  margin: auto;
  position: relative;
  left: -5px;
}
#right {
  float: right;
  width: 20%;
  margin-right: 10px;
}
#box {
  min-height: 100px;
  width: 100%;
  background: #ffffff;
  padding: 10px;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  margin: auto;
  margin-bottom: 10px;
}
#box .title {
  text-align:center;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid #e9e6e6;
}
#groupinformation {
  text-align:center;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid #e9e6e6;
}

#box ul {
  list-style-type: none;
  margin: 0; padding: 0;
  font-size: 14px;
}
#box ul li {
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 0;
}
#box ul li a:link, #box ul li a:visited {
  text-decoration: none;
  color: #8b8b8b;
}
#box ul li a:hover {
  font-weight: bold;
}
#box ul li:last-child {
  border-bottom: 0;
}
.friends {
	overflow-y: scroll;
	max-height: 350px;
}
#glist {
	overflow-y: scroll;
	max-height: 100px;
}
#friendSuggestionsList {
	overflow-y: scroll;
	max-height: 100px;
}
#friendsList {
	overflow-y: scroll;
	max-height: 100px;
}

.friends li {
  line-height: 25px;
}
#box .statusbox {
  background: #fff;
  margin-top: 10px;
  border: 1px solid #f0f0f0;
  outline: 0;
  height: 100px;
  resize:vertical;
  width: 100%;
}
#box .statusbutton {
  background: #EAB349;
  width: 70px;
  height: 35px;
  border: 0;
  outline: 0;
  color: #fff;
}
.button:hover {
  background: #da9e2c;
  cursor: pointer;
}
.button {
  background: #EAB349;
  width: 70px;
  height: 35px;
  border: 0;
  outline: 0;
  color: #fff;
}
#box .statusbutton:hover {
  background: #da9e2c;
  cursor: pointer;
}
#box .userpic {
  width: 25px;
  height: 25px;
  position: relative;
  top: 7px;
  margin-right: 5px;
  border-radius: 2px;
}
#box .add {
  float: right;
  padding: 0 3px;
  border: 1px solid #EAB349;
  border-radius: 2px;
  position: relative;
  top: 7px;
  text-align: center;
}
#box .add:hover {
  background: #EAB349;
  font-weight: normal;
  color: #fff;
}

#box ul .timelineposts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#box .timelineposts li {
  padding:10px;
  border-bottom: 2px solid #EAB349;
}
.timelineposts li:nth-child(even) {
  /*background: #f1f1f1!important;*/
}

.red a:link,.red a:visited {
   color: #EAB349;
   text-decoration: none;
   font-size: 14px;
}
.arrow {
    position: relative;
    left: 10px;
    /*margin-right: 15px;*/
    bottom: 30px;
    
}
.arrow:after {
    content: "";
    background: white;
    position: absolute;
    left: 60px;
    top: -20px;
    width: 8px;
    height: 8px;
    z-index: -100;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.09);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#box .userinfo .profilepic {
  width: 50px;
  height: 50px;
}
#box .post {
  margin-top: -20px;
}
#box .userinfo .username {
  font-size: 14px;
  position: relative;
  top: -40px;
  color: #EAB349!important;
}
#box .userinfo .datetime {
  font-size: 12px;
  position: relative;
  top: -38px;
  left: 55px;
  color: #bbb;
}
#box .userinfo .username a {
  color: #EAB349!important;
}
.timelineposts .commentbox {
  background: #fff;
  border: 1px solid #f0f0f0;
  outline: 0;
  resize:vertical;
  width: calc(98% - 35px);
  position: relative;
  left: 45px;
}
#box .timelineposts .mycommentpic {
  max-width: 35px;
  max-height: 35px;
  position: absolute;
}
#box .timelineposts .friendcommentpic {
  max-width: 35px;
  max-height: 35px;
}
#box .timelineposts .likebar {
  width: 100%;
  height: 30px;
  border-top: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  margin-bottom: 10px;
  margin-top: 10px;
}
#box ul.comments {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  list-style-type: none;
}
#box ul.comments li {
  border-bottom: 1px solid #9e9e9e!important;
}
.comments .usercomment {
  width: calc(98% - 35px);
  display: inline-flex;
  position:relative;
  top: -20px;
}
.timelineposts .comments li:nth-child(even) {
  background: transparent!important;
}

.likebar .like {
  position: relative;
  top: 5px;
}

/* Settings Page */

.center {
  text-align: center;
}
#settings {
  width: 50%;
  min-width:280px;
  border: 1px solid #D6D6D6;
  border-radius: 3px;
  min-height: 100px;
  margin: auto;
  padding: 10px;
  margin-bottom: 50px;
}
.preview {
  width: 50%;
  min-width: 150px;
  height: auto;
  margin: auto;
}
.normal {
  border: 0;
  outline: 0;
  height: 40px;
  text-indent: 10px;
  color: #000;
  width: 100%;
  margin-bottom: 10px;
  background: #ececec;
  border: 1px solid #D6D6D6;
}
.inputleft {
  width: 49%;
  float: left;
}
.inputright {
  width: 49%;
  float: right;
}

/* Profile Page */
#userbar {
  width: 100%;
  max-width: 650px;
  min-height: 100px;
  margin: auto;
  display: -webkit-box;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
}
#profilepicture {
  width: 200px;
  height: 200px;
}
#profilepicture img {
  width: 200px;
  height: 200px;
}
#userinformation {
  width: calc(100% - 220px);
  margin-left: 20px;
}
#userinformation h1 {
  margin: 0;
  margin-bottom: 10px;
}
#userinformation .birthday {
  margin-bottom: 10px;
}
.profileposts {
  max-width: 650px;
  margin-top: 25px!important;
}
.friendbutton {
  width: 130px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  margin: auto;
  margin-top: 10px;
}
.friendbutton:hover {
  cursor: pointer;
}
.friend {
  background: #78c77d;
}
.friend:hover {
  background: #66af6b;
}
.notfriend {
  background: #e06060;
}
.notfriend:hover {
  background: #cb5050;
}
.create {
  float: right;
  font-size: 10px;
  padding: 3px;
  border: 1px solid #eab349;
  border-radius: 2px;
  text-decoration: none;
  color: #9e9e9e;
}
.create:hover {
  cursor: pointer;
  background: #eab349;
  color: #fff;
}

/* Group Create Page */
#friendlist {
  outline: 0;
  min-height: 40px;
  max-height: 130px;
  overflow-y: scroll;
  text-indent: 10px;
  color: #000;
  width: 100%;
  margin-bottom: 10px;
  background: #ececec;
  border: 1px solid #D6D6D6;
}
#friendlist ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#friendlist ul li {
  float: left;
  width: 33%;
  text-align: center;
  padding: 10px 0;
}
#friendlist ul li:hover {
  background: #eab349;
  color: #fff;
  cursor: pointer;
}


				
#profilename {
	font-weight: bold;
	font-size: 24px;
	font-style: italic;	
}

#members {
  outline: 0;
  display: inline-flex;
  min-height: 40px;
  text-indent: 10px;
  color: #000;
  width: 100%;
  margin-bottom: 10px;
  background: #ececec;
  border: 1px solid #D6D6D6;
}
#members ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#members ul li {
  float: left;
  padding: 5px 5px;
  background: #fff;
  text-align: center;
  margin: auto;
  margin: 5px 5px;
}

@media screen and (max-width: 1200px) {
  #box .add {
    float: none;
    max-width: 75px;
    margin: auto;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  #search {
    width: 260px;
  }
  #friendlist ul li {
    width: 49.9%;
  }
}
@media screen and (max-width: 700px) {
  #search {
    display: none;
  }
  .dropdown-content {
    min-width: 140px;
  }
  #left {
    float: none;
    width: 90%;
  }
  #right {
    float: none;
    width: 90%;
  }
  #center {
    float: left;
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  #profilepicture {
    margin: auto;
    margin-bottom: 10px;
  }
  #userbar {
      display: inline;
  }
  #userinformation {
    width: 100%;
    margin-left: 0;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
  }
}
